.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    font-size: 25px;
  }
}

.title {
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
    margin-bottom: -1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.desc {
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    padding: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;

    h3 {
      margin-top: 1rem;
      text-align: center;
    }
  }
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.imageContainer {
  width: 600px;
  height: 500px;
  position: relative;

  @media screen and (max-width: 768px) {
    width: 40vh;
    height: 30vh;
    margin-top: 1rem;
  }
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;
  font-size: 3rem;

  @media screen and (max-width: 768px) {
    margin-top: 1rem;
    margin-bottom: 20px;

    font-size: 2.5rem;
    font-weight: 600;
  }
}
.content {
  padding: 3rem 10rem 10rem 10rem;

  p {
    font-size: 25px;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    padding: 2rem;

    p {
      font-size: 1rem;
      text-align: center;
    }
  }
}

.homeLinkContainer {
  margin-bottom: 2rem;
}

.homeLink {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-size: 1rem;

  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgb(196, 15, 6);
    transition: ease-in-out 0.3s;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
  }
}

.footerContainer {
  width: 100vw;
}
