.container {
  background-image: url("");
  background-size: 100vh 100vw;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  label {
    font-size: 1.5rem;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  width: 350px;
  height: 25px;
  margin-bottom: 1rem;

  filter: drop-shadow(0px 2px 2px black);
}
.description {
  height: 100px;
  width: 350px;

  filter: drop-shadow(0px 2px 2px black);
}
.submit {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 1rem;

  button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin-top: 1rem;

    &:hover {
      background-color: rgb(211, 8, 211);
    }
  }
}

.content {
  height: 200px;
  width: 350px;

  filter: drop-shadow(0px 2px 2px black);
}
