.container {
  background-image: url("https://media3.giphy.com/media/2xu5zpSV3oqKcCSZ49/giphy.gif?cid=ecf05e47vzc4h1vryg62juoirk3hocosl8fpfz2m07s1yac2&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-left: 35%;
  margin-right: 35%;

  filter: drop-shadow(0px 2px 2px black);

  background-color: whitesmoke opacity($color: #000000);

  input {
    margin-bottom: 1rem;

    width: 15rem;
    height: 1.2rem;
  }

  label {
    font-size: 1.2rem;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 0.5rem;
  padding-bottom: 1rem;

  button {
    cursor: pointer;
    width: 100px;
    height: 30px;

    &:hover {
      background-color: rgb(211, 8, 211);
    }
  }
}
