.mainContainer {
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.comments {
  background-color: #fff;
  color: #111;
  width: 500px;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userComments {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.deleteButton {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  padding: 10px;

  &:hover {
    cursor: pointer;
  }
}
