.container {
  background-image: url("https://wallpapertag.com/wallpaper/full/6/f/7/417030-fullmetal-alchemist-brotherhood-wallpapers-1920x1080-for-iphone-6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  @media screen and (max-width: 768px) {
    background-image: url("https://wallpapercave.com/wp/wp5432783.jpg");
    background-size: cover;

    height: 100vh;
  }
}

.posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  gap: 2rem;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.postTitle {
  @media screen and (max-width: 768px) {
    margin-top: 2rem;
  }
}

.imageContainer {
  margin-top: 1.5rem;
}

.delete {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgb(196, 15, 6);
    transition: ease-in-out 0.3s;
  }
}

.update {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgb(196, 15, 6);
    transition: ease-in-out 0.3s;
  }
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

  margin-top: 1rem;
}
