.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div {
    margin-top: 1.5rem;
  }
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  @media screen and (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.image {
  width: 500px;
  height: 350px;
  margin-bottom: 3rem;

  @media screen and (max-width: 768px) {
    width: 40vh;
    height: 30vh;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1rem;
    }
  }
}
