body {
  background-color: black;
  // color: white;
}

a {
  // color: white;
  text-decoration: none;
}

.theme {
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: #111;

  #links {
    color: #111;

    &:hover {
      color: rgb(196, 15, 6);
      transition: ease-in-out 0.3s;
    }
  }

  #button {
    background-color: #111;
    color: white;

    &:hover {
      background-color: rgb(196, 15, 6);
      color: #111;
      transition: ease-in-out 0.3s;
    }
  }
  #image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
}

.dark {
  background-color: #111;
  color: #fff;

  #links {
    color: #fff;

    &:hover {
      color: rgb(196, 15, 6);
      transition: ease-in-out 0.3s;
    }
  }
}
