* {
  @media screen and (max-width: 768px) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  background-color: black;
  // color: white;
  overflow-x: hidden;
  width: 100vw;
}

a {
  // color: white;
  text-decoration: none;
}

.theme {
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: #fff;

  #nav {
    background: linear-gradient(45deg, #fff, rgb(48, 41, 236));
  }

  #links {
    color: #111;

    &:hover {
      color: rgb(24, 17, 239);
      transition: ease-in-out 0.3s;
    }
  }

  #postsinfo {
    color: #111;
  }
  #postImageID {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  #button {
    background-color: #111;
    color: white;

    &:hover {
      background-color: rgb(24, 17, 239);
      color: #111;
      transition: ease-in-out 0.3s;
    }
  }
  #buttons {
    background-color: #fff;
    color: #111;

    &:hover {
      background-color: rgb(24, 17, 239);
      color: #111;
      transition: ease-in-out 0.3s;
    }
  }
  #image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  #logo {
    background: -webkit-linear-gradient(#262626, rgb(24, 17, 239));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #reg-log {
    &:hover {
      color: rgb(24, 17, 239);
      transition: ease-in-out 0.3s;
    }
  }
  // #reg-log-title {
  //   color: #111;
  // }

  #socialMedia {
    a {
      color: #111;
      text-decoration: none;
      font-size: 1.2rem;

      &:hover {
        color: rgb(24, 17, 239);
        transition: ease-in-out 0.3s;
      }
    }
  }
  #community_posts-title {
    color: #111;
  }

  #theme__ball {
    background-color: rgb(24, 17, 239);
  }
  #theme__container {
    border: 1.5px solid #111;
    background-color: #111;
  }

  #comments {
    // background: linear-gradient(45deg, rgb(48, 41, 236), #fff);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
  #commentButton {
    &:hover {
      background-color: rgb(24, 17, 239);
      transition: ease-in-out 0.3s;
    }
  }

  #scrollBtn {
    background-color: #111;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    &:hover {
      background-color: rgb(24, 17, 239);
      transition: ease-in-out 0.3s;
    }
  }

  #footer {
    color: #111;
    background: linear-gradient(-45deg, rgb(48, 41, 236), #fff);
  }

  #footerLinks {
    a {
      color: #111;
    }
  }
  #homeLink {
    background-color: #111;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

    &:hover {
      background-color: rgb(24, 17, 239);
      transition: ease-in-out 0.3s;
    }
  }
  #usernameID {
    background: -webkit-linear-gradient(#262626, rgb(24, 17, 239));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #community_posts-title {
    background: -webkit-linear-gradient(#262626, rgb(24, 17, 239));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  //Account

  #account-username {
    color: #111;
  }

  #profile-image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  #account-bio {
    color: #111;
  }
}

.dark {
  background-color: #111;
  color: #fff;

  #links {
    color: #fff;

    &:hover {
      color: rgb(196, 15, 6);
      transition: ease-in-out 0.3s;
    }
  }
  #theme__ball {
    background-color: rgb(196, 15, 6);
  }

  #nav {
    background: linear-gradient(45deg, #111, rgb(153, 12, 5));
  }
  #theme__container {
    background-color: #111;
    border: 1.5px solid #111;
  }

  #footer {
    background: linear-gradient(-45deg, #111, rgb(153, 12, 5));
  }

  #footerLinks {
    a {
      color: #fff;
    }
  }

  #usernameID {
    background: -webkit-linear-gradient(#fff, rgb(196, 15, 6));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #community_posts-title {
    background: -webkit-linear-gradient(#fff, rgb(196, 15, 6));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #account-btns {
    background-color: #fff;
    color: #111;

    &:hover {
      background-color: rgb(196, 15, 6);
      color: #fff;
      transition: ease-in-out 0.3s;
    }
  }
}

.image_loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__loader {
  height: 100vh;
  width: 100vw;
}
