.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;

  .links {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;

    &:hover {
      color: rgb(196, 15, 6);
      transition: ease-in-out 0.3s;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px;
  }
}

.logo {
  background: -webkit-linear-gradient(#fff, rgb(196, 15, 6));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
