.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .links {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;

    &:hover {
      color: rgb(196, 15, 6);
      transition: ease-in-out 0.3s;
    }
  }
}
