.container {
  background-image: url("https://images7.alphacoders.com/679/679873.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  @media screen and (max-width: 768px) {
    background-image: url("https://www.mordeo.org/files/uploads/2021/01/The-Rising-of-The-Shield-Hero-Poster-4K-Ultra-HD-Mobile-Wallpaper-950x1689.jpg");
    background-size: cover;
  }
}
.newPost {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;

  filter: drop-shadow(0px 2px 2px black);

  input {
    width: 250px;
    height: 25px;

    font-size: 1rem;
  }

  textarea {
    width: 60vw;
    height: 300px;

    font-size: 1.2rem;
  }

  @media screen and (max-width: 768px) {
    textarea {
      width: 80vw;
    }
  }
}

.button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: rgb(196, 15, 6);
    transition: ease-in-out 0.3s;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
  }
}

.title {
  @media screen and (max-width: 768px) {
    margin-top: 1.5rem;
  }
}
